{% extends "base.html" %}
{% block title %}Культурное наследие{% endblock %}

{% block content %}
<div class="container">
	<h1>Культурное наследие</h1>


	<div class="row row-cols-3 row-cols-md-3 g-1">
		{% for product in products %}
		<div class="col">
			<div class="card">
				{% if product.photo %}
				<img src={{ product.photo }} class="card-img-top" alt="...">
				{% endif %}
				<div class="card-body">
					{% if product.unesco %}
					<span class="badge bg-success">ЮНЕСКО</span>
					{% endif %}
					<h5 class="card-title">{{ product.name }}</h5>
					<p class="card-text">{{ product.region }}</p>
					<a class="btn btn-primary" href="/object/{{ product.id }}" role="button">Подробнее</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
